body{
    padding-bottom: 1000px;
}
.first{
    display:grid;
    grid-template-columns: 100px 100px 100px;
    
}
.second{
    display:grid;
    grid-template-columns: 100px 100px 200px;
    margin-top: 30px;
}
.third{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    height:200px;
    column-gap: 20px;
    row-gap: 20px;
}
.one{
    background-color: lightblue;
    
}
.two{
    background-color: lightpink;
}
.three{
    background-color: orange;
}